/* Estilos generales para la sección */
.contact-contact {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-contact-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid black;
  align-items: flex-start;
}

.left-section {
  width: 45%; /* Ocupa todo el ancho en pantallas más pequeñas */
  color: black;
  margin: 20px;
}

.right-section {
  display: flex;
  width: 45%; 
  align-items: center;
  height: 350px;
  margin: 2.1vw;
}

.right-section img {
  width: 100%; 
  background-color: #d5d5d5;
  height: 350px;
}

/* Estilos para los encabezados y párrafos */
.left-section h1 {
  font-size: 18px;
  margin-bottom: 18px;
  color: #acacac;
}

.left-section h2 {
  font-size: 18px;
  margin-bottom: 18px;
}

.left-section h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #919191;
}

.left-section p {
  font-size: 30px;
  margin-bottom: 18px;
  font-weight: bold;
}

@media (max-width: 950px) {
  .contact-contact {
    flex-wrap: wrap;
  
  }
  .contact-contact-1 {
    flex-direction: column;
    align-items: center;
  }
  .left-section {
    width: 90%; /* Ocupa todo el ancho en pantallas más pequeñas */
  }
  
  .right-section {
    width: 67vw;
    height: 40vw;
    align-items: center; /* Ocupa todo el ancho en pantallas más pequeñas */
  }
  .right-section img {
    width: 68vw;
    height: 38vw;
  }
  
  .left-section h1 {
    font-size: 2.5vw;
  }
  
  .left-section h2 {
    font-size: 2.5vw;
  }
  
  .left-section h3 {
    font-size: 2.7vw;
  }
  
  .left-section p {
    font-size: 4vw;
  }
}