.home-container {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-container-onSale {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: space-evenly;
    
}

.link-sin-decoracion{
    text-decoration: none;
    color: black;
    
}
.home-container-1 {
    width: 90%;
    max-width: 1200px;
}

.home-main-text {
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
}

.home-second-text {
    text-align: center;

}

.home-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #1EA1F8;
    border-radius: 20px;
    height: 270px;
    padding: 10px;
    cursor: pointer;  
}




.home-img {
    width: 200px;
    height: 180px;
    display: block;
    margin: 10px auto;
}

.home-section p {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
  

@media (max-width: 1200px) {
    .home-container-onSale {
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px; 
    }
}
 
@media (max-width: 800px) {
    .home-container-onSale {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 480px) {
    .home-container-onSale {
        grid-template-columns: repeat(1, 1fr); 
    }

}





