.home-container {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-container-onSale {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Cuatro columnas de igual ancho */
    gap: 30px;
    /* Espacio entre las secciones */
    justify-content: space-evenly;
}


.home-container-1 {
    width: 90%;
    max-width: 1200px;
}

.home-main-text {
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
}

.home-second-text {
    text-align: center;
}

.home-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #1EA1F8;
    border-radius: 20px;
    height: 270px;
    padding: 10px;
    cursor: pointer;
    
}




.home-img {
    width: 200px;
    height: 180px;
    display: block;
    margin: 10px auto;
}

/* Media Query para pantallas medianas y pequeñas */
@media (max-width: 1200px) {
    .home-container-onSale {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas medianas */
        gap: 20px; /* Reducir el espacio entre las secciones */
    }
}
 
@media (max-width: 800px) {
    .home-container-onSale {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
    }

}

@media (max-width: 480px) {
    .home-container-onSale {
        grid-template-columns: repeat(1, 1fr); /* 2 columnas en pantallas pequeñas */
    }

}





