.productByType-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.productByType-container-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 1200px;
    

}
.productByType-container-1 h2 {
    margin: 30px 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.productByType-container-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: space-evenly;
    grid-template-areas:
    'product product product product'
    'no-products no-products no-products no-products';
    
}

.productByType-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #1EA1F8;
    border-radius: 20px;
    height: 270px;
    padding: 10px;
    cursor: pointer;
}
.productByType-section {
  grid-area: product;
  /* Resto de los estilos para los productos */
}


.no-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
    height: 300px;
    grid-area: no-products;
    font-size: 40px;

}

.no-products-container img{
    width: 35%;
}

@media (max-width: 1200px) {
    .productByType-container-2 {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas medianas */
        gap: 20px; /* Reducir el espacio entre las secciones */
    }
    .no-products-container {
        font-size: 5vw;  
    }
    
    .no-products-container img{
        width: 35vw;
    }
}

@media (max-width: 800px) {
    .productByType-container-2 {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
    }

}

@media (max-width: 480px) {
    .productByType-container-2 {
        grid-template-columns: repeat(1, 1fr); /* 2 columnas en pantallas pequeñas */
    }

}