
/*div{
    width: 100%;
    margin: 0 auto;
    background-color: #E6F0F9; 
    margin-bottom: 3vw;
    border-radius: 5px;
  }
  

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0108A7; 
  }
  

  div > div {
    margin-bottom: 10px; 
  }
  

  label {
    width: 30%;
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
  }
  

  input[type="text"] {
    width: 40%;
    padding: 13px;
    margin-bottom: 5px; 
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  select {
    width: 45%;
    padding: 10px;
    margin-bottom: 5px; 
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

  button[type="submit"] {
    width: 20%;
    margin: 0 25vw; 
    padding: 10px;
    background-color: #2029E6; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  button[type="submit"]:hover {
    background-color: #1EA1F8; 
  }
  
  .custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #349FDF; 
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s;
    border: 1px solid #349FDF; 
    cursor: pointer;
  }
  .contenedor-boton{
    display: flex;
    justify-content: space-between;
  }
  .custom-button:hover {
    background-color: #1EA1F8; 
    border: 1px solid #1EA1F8; 
  }
  */
  