/* Estilos generales para el navbar */
.navbar-header {
  background-color: #e3e6f3;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-header-1 {

  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el logotipo en el navbar */
.navbar-logo {
  width: 80px;
  /* Ajusta el tamaño del logotipo según tus necesidades */
}

/* Estilos para la lista de enlaces en el navbar */
.navbar-link {
  list-style-type: none;
  padding: 0;
}

/* Estilos para cada elemento de la lista de enlaces */
.navbar-link li {
  display: inline-block;
  margin-right: 20px;

}

/* Estilos para los enlaces en el navbar */
.navbar-link-1 {
  text-decoration: none;
  color: #606165;
  font-weight: bold;
}

/* Cambiar color al pasar el ratón sobre los enlaces */
.navbar-link-1:hover {
  color: #2029E6;
  /* Puedes cambiar el color al pasar el ratón según tus preferencias */
}

/*****************************************
*********FOOTER***************************
****************************************/

.footer-footer {
  background-color: #e3e6f3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-footer-1 {
  width: 90%;
  max-width: 1200px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Divide el espacio en 4 columnas iguales */
  gap: 10px;
  /* Espacio entre las columnas */
}

.grid-item {
  display: flex;
  flex-direction: column;

  justify-content: center;

  background-color: #e3e6f3;

  padding: 10px;

}

h3,h2,p{
    font-family: 'Roboto', sans-serif;
}
h3{
  
  color: #606165;
}

p{
  color:#949fb4
}

.footer-logo{
    width: 100px;
}

h2{
  color: #949fb4
}

/************************************************************
****************BANNERS*************************************/
.banner-image {
  width: 100%;
  /* Hacer que la imagen ocupe todo el ancho de su contenedor */
  height: 500px;
  /* Mantener la relación de aspecto original */
}
