/* Estilos generales para el navbar */
.navbar-header {
  background-color: #e3e6f3;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-header-1 {

  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el logotipo en el navbar */
.navbar-logo {
  width: 80px;
  /* Ajusta el tamaño del logotipo según tus necesidades */
}

/* Estilos para la lista de enlaces en el navbar */
.navbar-link {
  list-style-type: none;
  padding: 0;
} 

/* Estilos para cada elemento de la lista de enlaces */
.navbar-link li {
  display: inline-block;
  margin-right: 20px;

}
 
/* Estilos para los enlaces en el navbar */
.navbar-link-1 {
  text-decoration: none;
  color: #606165;
  font-weight: bold;
}

/* Cambiar color al pasar el ratón sobre los enlaces */
.navbar-link-1:hover {
  color: #2029E6;
  /* Puedes cambiar el color al pasar el ratón según tus preferencias */
}

/*****************************************
*********FOOTER***************************
****************************************/

.footer-footer {
  background-color: #e3e6f3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-footer-1 {
  width: 90%;
  max-width: 90vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;  
  gap: 1vw;
  /* Espacio entre las columnas */
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #e3e6f3;
  padding: 1vw;
  font-family: 'Roboto', sans-serif;
}

.grid-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #e3e6f3;
  padding: 1vw;
  font-family: 'Roboto', sans-serif;
}
.grid-item h2{
  margin: 1vw 0;
  color: #000;
  font-size: 1.2vw;
}

.grid-item p{
  font-size: 1vw;
}

.grid-item-2 h3{
  margin-bottom: 1.5vw;
  margin-top: 1vw;
  font-size: 1.2vw;
}
.grid-item-2 p{
  margin-bottom: 1.2vw;
  font-size: 1vw;
}

.footer-logo{
    width: 7vw;
    margin: 1vw 0;
}
.container-contact{
  display:flex;
  margin-bottom: 1vw;
}
.container-contact p{
  margin-left: 0.5vw;
}

.container-contact h3{
  font-size: 1vw;
}

.derechos-container{
  font-size: 1.3vw;
  margin-bottom: 3vw;
}

@media (max-width: 450px) {
  .grid-item{
    width: 32vw;
    margin-left: 10vw;
  }
  .grid-item-2{
    align-items: center; 
    /* Centra el contenido del footer */
  }

  .container-contact{
    right: 20%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 2vw;
    
    /* Espacio entre las columnas */
  }
  .container-contact{
    text-align: center;
    
  }

  .container-contact p{
    font-size: 2vw;
  }
  
  .container-contact h3{
    font-size: 2vw;
  }

  .grid-item h2{
    margin: 1vw 0;
    color: #000;
    font-size: 2.2vw;
  }
  
  .grid-item p{
    font-size: 2vw;
  }
  
  .grid-item-2 h3{
    font-size: 2.2vw;
  }
  .grid-item-2 p{
    font-size: 2vw;
  }

  .derechos-container{
    font-size: 2.3vw;
    margin-top: 5vw;
  }
}

/************************************************************
****************BANNERS*************************************/
.banner-image {
  width: 100%;
  /* Hacer que la imagen ocupe todo el ancho de su contenedor */
  height: 500px;
  /* Mantener la relación de aspecto original */
}


/*************************************************************
*********************TYPES***********************************/
.swiper-container {
  padding: 15px;
  /* Agrega espacio alrededor del Swiper */
}
.type-section{
  color:white;
  padding: 15px 0;
  border: 1px solid skyblue;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}

.type-p{
  background-color:skyblue;
  display: inline;
  text-transform: uppercase;
}